* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(0, 0%, 90%); 
    --text-color: hsl(240, 6%, 21%);
    --text-button: hsl(240, 6%, 21%); 
    --controls-music-bg: hsl(240, 9%, 89%);
    --controls-music-activated: hsl(194, 97%, 31%);

    font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.dark {
    --bg-color:hsl(240, 6%, 21%);
    --text-color:hsl(0, 0%, 90%);
    --text-button:hsl(0, 0%, 90%);
}

html.dark .ph-moon,
html:not(.dark) .ph-sun {
    display: none;
}

#toggle-mode {
    position: absolute;
    right: 3rem;
    top: 3rem;
    font-size: 3rem;
    line-height: 0;

    color: var(--text-color);

    margin-bottom: 4rem;
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

.app {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    display: grid;
    height: 100vh;
    place-content: center;
}

#app {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-areas: 
    "main footer";
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

#controls {
    margin-top: 1.6rem;
    padding: 2.2rem 4rem;
    gap: 1.6rem;
}

#timer {
    font-size: 11.7rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

button {
    background-color: transparent;
    border: 0;
    color: var(--text-button);
    
    cursor: pointer;
    
    font-size: 4.8rem;
}

footer.button {
    width: 13.8rem;
    height: 15.2rem;
}

#sounds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 50%;
    gap: 3.2rem;
}

#play {
    display: block;
}

#pause {
    display: none;
}

body.running #play {
    display: none;
}

body.running #pause {
    display: block;
}

#controls-main img {
    width: 4.8rem;
    height: 4.8rem;
    transition: filter 0.3s ease, transform 0.3s ease;
}

#controls-musics {
    width: 30.8rem;
    height: 33.6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
}

#controls-musics button {
    background-color: var(--controls-music-bg);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.3s ease;
}

#controls-musics img {
    width: 4.4rem;
    height: 5.6rem;
    transition: filter 0.3s ease, transform 0.3s ease;
}

#controls-musics button:hover,
#controls-musics button.selected {
    background-color: var(--controls-music-activated);
}

#controls-musics button:hover img,
#controls-musics button.selected img {
    animation: colorChange 0.3s ease forwards, scaleUp 0.3s ease forwards;
}

#controls-main button:hover img {
    animation: colorChange 0.3s ease forwards, scaleUp 0.3s ease forwards;
}

#controls-main button:hover {
    transform: scale(1.1);
}

svg path {
   fill: #323238; 
}
/* cor padrão modo light */

@media (prefers-color-scheme: dark) {
    svg path {
      fill: #e6e6e6;
    }
}